* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: sans-serif;
  transition: all 0.5s ease;
}

body {
  height: 100vh;
  background: #a50823;
  background: -webkit-radial-gradient(bottom right, #a50823, #45717a);
  background: -moz-radial-gradient(bottom right, #a50823, #45717a);
  background: radial-gradient(to top left, #a50823, #45717a);
}

.container {
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
}

.calculator {
  position: relative;
  width: auto;
  height: auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 30px #000;
}

#display {
  font-size: 30px;
  width: auto;
  max-width: 270px;
  height: 100px;
  color: #0a1e23;
  margin-bottom: 20px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

button {
  font-size: 20px;
  width: 60px;
  height: 60px;
  margin: 5px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  transition: all 200ms ease;
}

button:hover {
  transform: scale(1.1);
}

.calculator #equal {
  height: 130px;
}

.calculator #clear {
  background-color: #ffd5d8;
  color: #fc4552;
}

.calculator .button-number {
  background-color: #c3eaff;
  color: #000;
}

.calculator .button-operator {
  background-color: #ffd0fd;
  color: f967f3;
}

.calculator .button-equal {
  background-color: #adf9e7;
  color: #000;
}
